<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Cringe Detector</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>AI Cringe Detector</h1>
      <p>Is your media cringe? Find out now!</p>

      <form id="form">
        <input
          type="file"
          id="fileInput"
          name="file"
          accept=".png, .jpg, .txt"
        />
        <input type="submit" value="Submit" />
      </form>

      <div id="progressBar"><div id="progress"></div></div>

      <div id="img"></div>
      <canvas id="cringeMeter" width="300" height="300"></canvas>
      <p id="cringeReason"></p>
    </div>
    <!--Made by superhenryman, styling by jerry-->
    <script src="../static/main.js"></script>
  </body>
</html>
