<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Cringe Detector</title>
</head>
<body>
    <div class="container">
        <h1>AI Cringe Detector</h1>
        <p>Is your media cringe? Find out now!</p>
        <form id="form">
            <input type="file" name="file" value="media" id="fileInput" accept=".png, .jpg, .txt">
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
    <script src="/static/main.js"></script>
</body>
</html>